@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color:#fff;
}

body{
  background: linear-gradient(to bottom right, #4F46E5, #4F46E5, #4F46E5);
}

#tasklist::-webkit-scrollbar{
  display: none;
}